<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
    <title>{{ title }}</title>

    <style>
        input#mid {
            font-size: 2em;
            letter-spacing: 0.4em;
            border: 2px solid black;
            font-weight: bolder;
            width: 100%;
            height: 2em;
            text-align: center;
        }

        input[type="submit"] {
            display: inline-block;
            width: 100%;
            height: 3em;
            font-size: 1.5em;
        }
    </style>
</head>
<body>
    <h1>{{ title }}</h1>
    
    % if error:
        <p><strong>{{ error }}</strong></p>
    % end
    
    <div id="app">
        <form action="/" method="GET">
            <p>参加する会議IDを入力してください: <br><input id="mid" name="mid" type="text" value="" autofocus maxlength="8" @input="sync"></p>
            <p><input type="submit" value="参加"></p>
        </form>
    </div>

    <h2>メニュー</h2>
    <ul>
        <li><a href="/manage">会議の管理</a></li>
    </ul>

    <script>
        let app = new Vue({
            el: "#app",
            data () {
                mid: ''
            },

            computed: {
                mid_is_valid () {
                    if (this.mid.length == 8 && /^[0-9]{8}$/.test(this.mid))
                        return true
                    
                    return false
                },
            },

            methods: {

                sync (e) {
                    this.mid = e.target.value
                    this.ready_to_join = this.mid_is_valid
                    console.log(this.mid)
                    console.log(this.is_valid())
                }
            }
        })
    </script>
</body>
</html>