<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.2/css/bulma.min.css">
    <title>{{ title }}</title>

    <style>
        input#mid {
            text-align: center;
            letter-spacing: 0.2em;
        }
    </style>
</head>
<body>
    <h1 class="title">{{ title }}</h1>
    
    % if error:
        <p><strong>{{ error }}</strong></p>
    % end
    
    <p class="label">参加する会議IDを入力してください: </p>

    <form action="/" method="GET">
        <div id="app" class="columns">
            <div class="column field is-two-thirds is-full-mobile">
                <input id="mid" name="mid" type="text" value="" autofocus maxlength="8" @input="sync" class="input is-primary is-large">
            </div>
            <div class="column">
                <button type="submit" class="button is-link is-large is-fullwidth">参加</button>
            </div>
        </div>
    </form>

    <script>
        let app = new Vue({
            el: "#app",
            data () {
                mid: ''
            },

            computed: {
                mid_is_valid () {
                    if (this.mid.length == 8 && /^[0-9]{8}$/.test(this.mid))
                        return true
                    
                    return false
                },
            },

            methods: {

                sync (e) {
                    this.mid = e.target.value
                    this.ready_to_join = this.mid_is_valid
                }
            }
        })
    </script>
</body>
</html>