<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.2/css/bulma.min.css">
    <title>{{ title }}</title>

    <style>
        /* 貼り付け欄とURL欄の高さを揃える */
        #receiver, #url {
            height: 8em;
        }

        /* プレースホルダ用 */
        #receiver::before {
            position: absolute;
            top: 8px;
            left: 12px;
            color: lightgray;
            content: attr(data-placeholder);
        }

        /* 会議IDの中間にスペースを入れる */
        .mid span {
            margin-left: 0.2em;
            margin-right: 0.2em;
            font-weight: bold;
        }
    </style>
</head>

<body>
    <h1 class="title">{{ title }}</h1>

    % if len(items):
    <h2 class="subtitle">登録された会議</h2>
    <table class="table is-striped is-hoverable">
        <thead>
            <tr>
                <th>ID</th><th>残り時間</th><th>URL</th>
            </tr>
        </thead>
        <tbody>
            % for i in items:
            <tr {{ 'class=is-selected' if 590 < i['ttl'] else '' }}>
                <td class="mid"><span>{{ i['mid'][:4] }}</span><span>{{ i['mid'][4:] }}</span></td>
                <td>{{ i['ttl'] }} 秒</td>
                <td><a href="{{ i['url'] }}" target="_blank">Link</a></td>
            </tr>
            % end
        </tbody>
    </table>
    % end
    % if len(items) == 0: # elseが使えなかった
    <p>登録されている会議はありません。</p>
    % end

    <h2 class="subtitle">会議の登録</h2>

    <p>Teamsで参加情報をコピーしてから貼り付け欄に貼り付けて、パスワードを入力してください。URLは自動で入力されます。</p>

    <form action="/register" method="POST">
        <!-- Teamsの会議参加リンク貼り付け場所 -->
        <div id="app" class="columns">
            <div class="column is-half is-full-touch">
                <label class="label">貼り付け欄</label>
                <div id="receiver" contentEditable="true" @input="find_urls" :data-placeholder="placeholder" class="input is-primary"></div>
            </div>
            <div class="column">
                <label class="label">会議URL</label>
                <label class="field">
                    <textarea id="url" name="url" rows="3" style="width: 100%;" v-text="url" readonly class="input"></textarea>
                </label>
            </div>

            <div class="column">
                <label class="label">パスワード</label>
                <div class="field">
                    <input name="password" type="password" value="" class="input is-primary is-fullwidth">
                </div>
                <button class="button is-primary is-medium is-fullwidth" type="submit" v-if="url">登録</button>
            </div>
        </div>
    </form>

    <h2 class="subtitle">メニュー</h2>
    <ul>
        <li><a href="/">会議へ参加</a></li>
    </ul>

    <script>
        let app = new Vue({
            el: '#app',
            data () {
                return {
                    content: '',
                    url: null
                }
            },

            computed: {
                // 貼り付け場所のプレースホルダーを疑似再現
                placeholder: function () {
                    if (this.content.length)
                        return ''

                    return 'Teamsでコピーした会議参加情報をここに貼り付けてください'
                }
            },

            methods: {
                find_urls(e) {
                    const s = this.content = e.target.innerHTML

                    // 会議参加URLの抽出
                    let m = s.match(/https:\/\/teams.microsoft.com\/[^"]+/g)
                    if (m) {
                        this.url = m[0]
                    }
                }
            }
        })
    </script>

</body>

</html>