<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.2/css/bulma.min.css">
    <title>{{ title }}</title>

    <style>
        /* 貼り付け欄とURL欄の高さを揃える */
        #receiver, #url {
            height: 10em;
        }

        /* プレースホルダ用 */
        #receiver::before {
            position: absolute;
            top: 8px;
            left: 12px;
            color: lightgray;
            content: attr(data-placeholder);
        }

        /* ボタンの間を空ける */
        button {
            margin-top: 0.5em;
            margin-bottom: 0.5em;
        }
    </style>
</head>

<body>
    <h1 class="title">{{ title }}</h1>

    % if len(items):
    <h2 class="subtitle">登録された会議</h2>
    <table class="table is-striped is-hoverable">
        <thead>
            <tr>
                <th>ID</th><th>残り時間</th><th>URL</th>
            </tr>
        </thead>
        <tbody>
            % for i in items:
            <tr {{ 'class=is-selected' if 590 < i['ttl'] else '' }}>
                <td class="mid">{{ i['mid'] }}</td>
                <td>{{ i['ttl'] }} 秒</td>
                <td><a href="{{ i['url'] }}" target="_blank">Link</a></td>
            </tr>
            % end
        </tbody>
    </table>
    % end

    <h2 class="subtitle">会議の登録</h2>

    <div class="content">
        <ol type="1">
            <li>参加するためのURLを入力(Teamsの場合は参加情報を貼り付け)</li>
            <li>パスワードを入力</li>
            <li>登録</li>
        </ol>
    </div>

    <form action="{{ path_prefix }}/register" method="POST">
        <!-- Teamsの会議参加リンク貼り付け場所 -->
        <div id="app" class="columns">
            <div class="column is-full-touch" v-show="!url">
                <label class="label">貼り付け欄</label>
                <div id="receiver" contentEditable="true" ref="receiver" @input="find_urls" :data-placeholder="placeholder" class="input is-primary"></div>
            </div>
            
            <div class="column">
                <label class="label">会議URL</label>
                <label class="field">
                    <textarea id="url" name="url" rows="3" style="width: 100%;" v-model="url" class="input is-primary" @input="validate_url"></textarea>
                </label>
            </div>

            <div class="column">
                <label class="label">パスワード</label>
                <div class="field">
                    <input name="password" type="password" value="" class="input is-primary is-fullwidth">
                </div>
                <button class="button is-primary is-fullwidth is-medium" type="submit" :disabled="!ready">登録</button>
                <button class="button is-danger is-fullwidth is-small is-outlined" type="reset" @click="clear">消去</button>
            </div>
        </div>
    </form>

    <h2 class="subtitle">メニュー</h2>
    <div class="content">
        <ul>
            <li><a href="{{ path_prefix }}/">会議へ参加</a></li>
        </ul>
    </div>

    <script>
        let app = new Vue({
            el: '#app',
            data () {
                return {
                    content: '',
                    url: null,
                    ready: false
                }
            },

            computed: {
                // 貼り付け場所のプレースホルダーを疑似再現
                placeholder: function () {
                    if (this.content.length)
                        return ''

                    return 'Teamsでコピーした参加情報はここに貼り付けてください'
                }
            },

            methods: {
                find_urls (e) {
                    const s = this.content = e.target.innerHTML

                    // 会議参加URLの抽出
                    let m = s.match(/https:\/\/teams.microsoft.com\/[^"]+/g)
                    if (m) this.url = m[0]
                    this.validate_url()
                },

                validate_url (e) {
                    console.log('validating...')
                    if (e && e.target)  console.log(e.target.value)
                    console.log(this.url)
                    if (/^https:\/\/teams.microsoft.com\/.+$/.test(this.url))
                        this.ready = true
                    else
                        this.ready = false
                },

                clear (e) {
                    this.url = null
                    this.ready = false
                    this.$refs.receiver.innerHTML = ''
                }
            }
        })
    </script>

</body>

</html>